.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 650px;
    background-color: white;
    padding-bottom: 30px;
    border-radius: 15px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}
.text{
    font-size: 50px;
    font-weight: 500;
    font-weight: bold;
}
.inputs{
    margin-top: 55px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    gap: 5px;
    width: 480px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
font-weight: bold;}
.input img{
    margin: 0px 30px;
}

.forgetpass{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 19px;
}
.forgetpass span{
    color: #00c9ff;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background-color: #4c8f16;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: white;
    color: #676767;
}

.input label {height: 50px;
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    font-weight: bold;
}